.venv/
__pycache__/
*.py[cod]
.pytest_cache/

.streamlit/secrets.toml

data/raw/*
!data/raw/.gitkeep

data/warehouse/*
!data/warehouse/.gitkeep

artifacts/*
!artifacts/.gitkeep

*.duckdb
*.duckdb.wal

.DS_Store
Thumbs.db
